:root {
    font-size: 60%;

    --color-background: #F8F7F3;

    --color-light-accent: #E58787;
    --color-main-brand: #C7A699;
    --color-dark-accent: #797B7A;
    --color-dark-background: #7B4C42;
    --color-primary: #c7a699;
    --color-info: #7b4c42;
    --color-success: #71ac66;
    --color-warning: #ee9c2e;
    --color-danger: #f44336;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {

    font: 500 1.6rem Poppins;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media(min-width: 700px){
    :root {
        font-size: 62.5%;
    }
}